# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.venv

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Node modules
node_modules/

# Build folders
dist/
build/